/**************Form component*********************************************************************************************/
.form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    border: 1px solid var(--dark-blue);
    border-radius: 0.3rem;
    background: var(--yellow);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: 200;
    border: 1px solid var(--dark-blue);
    border-radius: 0.3rem;
    background-clip: padding-box;
}

.form-control:focus {
    border: 2px solid var(--dark-green);
    box-shadow: 4px 3px 19px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 19px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 19px -4px rgba(0, 0, 0, 0.75);
}

.form-label {
    font-size: 1rem;
    color: var(--dark-blue);
    display: block;
    padding: 0.5em 0.5em;
    margin-bottom: 0.1em;
}

textarea {
    resize: vertical;
    width: 100%;
}