/**********Header component***********************************************************************************/
.header {
  background-color: var(--dark-blue);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 10px black;
  -webkit-box-shadow: 1px 1px 10px black;
  -moz-box-shadow: 1px 1px 10px black;
  z-index: 20;
}

.header-container {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.nav-list {
  padding: 0;
  margin: 0;

  display: none;
}

.nav-item {
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.nav-item a {
  padding: 0.2em 0.5em;
  display: block;
}

.logo {
  padding: 0.3em 1em;
  display: flex;
  justify-content: space-between;
}

/******************Active class for nav-links************************************************************/
.active a {
  font-weight: bold;
  color: var(--yellow);
}

/************Navigation hover effects**********************************************************************/

.logo:hover img,
.logo a:focus img,
.nav-item:hover,
.nav-item a:focus {
  transition: all 0.3s ease-in-out;
  transform: translateY(3px);
}

.nav-item:hover a,
.nav-item a:focus {
  color: var(--brown);
  font-weight: bold;
}
