/*****home page utilities*******************************************/
.presentation {
    padding: 0.5em 0.5em;
}

.presentation h2 {
    text-align: center;
}

.presentation-container p {
    max-width: 100%;
    padding: auto;
    margin-bottom: 1.5em;
}


/********Utilities classes**************************************************************************************/
.text-center {
    text-align: center;
}

.js-menu {
    display: block;
}