/*******Media Queries****************************************************************************/

@media screen and (min-width: 281px) {
    table {
        font-size: 0.8rem;
        padding: 1em;
    }
}

@media screen and (min-width: 500px) {
    .card-list {
        flex-wrap: nowrap;
    }

    .card {
        width: 30%;
    }

    .card-infos {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 765px) {
    table {
        font-size: 1rem;
    }
}

@media screen and (min-width: 785px) {
    :root {
        --content-margin: 5vh;
    }

    .form {
        margin-bottom: 2em;
    }

    .form-group {
        margin-bottom: 3vh;
    }

    .presentation-container {
        flex-wrap: nowrap;
    }

    .presentation-container p {
        max-width: 57%;
        margin-top: 0;
    }

    .presentation h2 {
        text-align: left;
    }
}

/*******responsive menu**************************************************************/
@media screen and (min-width: 578px) {
    #menu-button {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        width: auto;
        text-align: start;
    }

    .logo {
        width: 10%;
        min-width: auto;
    }
}